/* -----------------------------------------------------------------
Color Palette: https://colorhunt.co/palette/fdf7f48eb486997c70685752
----------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	background-color: #FDF7F4;
	padding: 0;
	margin: 0;
}

#root {
	color: #997C70;
	min-height: 100vh;
	box-sizing: border-box;

	padding: 20px;
	font-family: sans-serif;

	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

h1, b {
	text-align: center;
	color: #685752;
}

h1 {
	font-size: xx-large;
}

label {
	display: block;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 6px;
}

label::before {
	content: "⇒ ";
}

input {
	color: #8EB486;
}

input.hide {
	width: 3ch;
	background: transparent;
	font-size: xx-large;
	border: none;
	outline: none;
	font-size: 30px;
}

select {
	color: #997C70;
	background: transparent;
	outline: 1px solid #997C70;
	border: none;
	font-size: 14px;
}

.copyright {
	display: block;
	flex: 1;
	margin-top: auto;
	align-content: end;
	color: #b3998e;
	font-size: 12px;
}